개별프로젝트/13th_code.json
[{"id":"3e5155713d1f9165","type":"inject","z":"46afb12302147921","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"07 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["031f07f09a9039f8"]]},{"id":"ca9b04d8e15a076d","type":"Barcode Decoder","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":true,"PDF_417":true,"EAN_8":true,"EAN_13":true,"CODE_39":true,"CODE_128":true,"ITF":true,"RSS_14":true,"x":450,"y":160,"wires":[["a80460999f185782"]]},{"id":"031f07f09a9039f8","type":"file in","z":"46afb12302147921","name":"","filename":"Desktop\\barcode2.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":340,"y":100,"wires":[["0b49d2d962ef740c"]]},{"id":"a8353d83abb8c377","type":"image viewer","z":"46afb12302147921","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":270,"y":160,"wires":[["ca9b04d8e15a076d"]]},{"id":"0b49d2d962ef740c","type":"base64","z":"46afb12302147921","name":"","action":"","property":"payload","x":520,"y":100,"wires":[["45b0c913ada92521"]]},{"id":"45b0c913ada92521","type":"jimp-image","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":130,"y":160,"wires":[["a8353d83abb8c377"]]},{"id":"c723493c8a9d8157","type":"debug","z":"46afb12302147921","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":300,"wires":[]},{"id":"2a1fef174108a14e","type":"http request","z":"46afb12302147921","name":"food_info","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":440,"y":300,"wires":[["bb65db4b63d5e962"]]},{"id":"bb65db4b63d5e962","type":"function","z":"46afb12302147921","name":"function 1","func":"let data = msg.payload['C005']['row'][0];\nmsg.payload = '제품명:' + data['PRDLST_NM'] + ', 제품유형:' + data['PRDLST_DCNM'] + ', 유통기한:' + data['POG_DAYCNT']\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":300,"wires":[["c723493c8a9d8157","73dde62fc3c1204d","d495ea5f31c81e52"]]},{"id":"a80460999f185782","type":"function","z":"46afb12302147921","name":"function 2","func":"msg.url = \"https://openapi.foodsafetykorea.go.kr/api/sample/C005/json/1/5/BAR_CD=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":160,"wires":[["2a1fef174108a14e"]]},{"id":"73dde62fc3c1204d","type":"ui_text","z":"46afb12302147921","group":"0f26d5796b39ddc7","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":790,"y":340,"wires":[]},{"id":"d495ea5f31c81e52","type":"ui_audio","z":"46afb12302147921","name":"","group":"0f26d5796b39ddc7","voice":"","always":"","x":760,"y":380,"wires":[]},{"id":"0f26d5796b39ddc7","type":"ui_group","name":"Default","tab":"59489b5ada725c90","order":1,"disp":true,"width":"6","collapse":false},{"id":"59489b5ada725c90","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
