개별프로젝트/14th_flow.json
[{"id":"3e5155713d1f9165","type":"inject","z":"46afb12302147921","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"07 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["031f07f09a9039f8"]]},{"id":"031f07f09a9039f8","type":"file in","z":"46afb12302147921","name":"","filename":"Desktop\\barcode4.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":340,"y":60,"wires":[["0b49d2d962ef740c"]]},{"id":"0b49d2d962ef740c","type":"base64","z":"46afb12302147921","name":"","action":"","property":"payload","x":560,"y":60,"wires":[["45b0c913ada92521"]]},{"id":"45b0c913ada92521","type":"jimp-image","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":130,"y":120,"wires":[["db8aa7f23f9dc228","1e773a21523b7067","99ca7d07702a3131"]]},{"id":"db8aa7f23f9dc228","type":"image viewer","z":"46afb12302147921","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":130,"y":180,"wires":[[]]},{"id":"cdd7ec1ea82e8112","type":"Barcode Decoder","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":true,"PDF_417":true,"EAN_8":true,"EAN_13":true,"CODE_39":true,"CODE_128":true,"ITF":true,"RSS_14":true,"x":630,"y":340,"wires":[[]]},{"id":"388a8a3ba0f7d6e2","type":"jimp-image","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"90","parameter1Type":"num","parameter2":"70","parameter2Type":"num","parameter3":"120","parameter3Type":"num","parameter4":"70","parameter4Type":"num","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"crop","selectedJimpFunction":{"name":"crop","fn":"crop","description":"crop to the given region","parameters":[{"name":"x","type":"num","required":true,"hint":"the x coordinate to crop form"},{"name":"y","type":"num","required":true,"hint":"the y coordinate to crop form"},{"name":"w","type":"num","required":true,"hint":"the width of the crop region"},{"name":"h","type":"num","required":true,"hint":"the height of the crop region"}]},"x":590,"y":120,"wires":[["219c31122c27bb4e","cdd7ec1ea82e8112"]]},{"id":"219c31122c27bb4e","type":"image viewer","z":"46afb12302147921","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":590,"y":180,"wires":[[]]},{"id":"1e773a21523b7067","type":"jimp-image","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"-1","parameter1Type":"num","parameter2":"200","parameter2Type":"num","parameter3":"","parameter3Type":"none","parameter4":"100","parameter4Type":"num","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":350,"y":120,"wires":[["388a8a3ba0f7d6e2","64488013d6f8edeb","0d0189b01daf5993"]]},{"id":"64488013d6f8edeb","type":"image viewer","z":"46afb12302147921","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":350,"y":180,"wires":[[]]},{"id":"0d0189b01daf5993","type":"Barcode Decoder","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":true,"PDF_417":true,"EAN_8":true,"EAN_13":true,"CODE_39":true,"CODE_128":true,"ITF":true,"RSS_14":true,"x":390,"y":340,"wires":[[]]},{"id":"99ca7d07702a3131","type":"Barcode Decoder","z":"46afb12302147921","name":"","data":"payload","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":true,"PDF_417":true,"EAN_8":true,"EAN_13":true,"CODE_39":true,"CODE_128":true,"ITF":true,"RSS_14":true,"x":150,"y":340,"wires":[[]]}]
